<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flows</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    th {
      background-color: #4CAF50;
      color: white;
    }

    .btn {
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <h1>Flows</h1>
  <table>
    <thead>
      <tr>
        <th>Initiator</th>
        <th>Approver</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <% @flows.each do |flow| %>
        <tr>
          <td><%= flow.user_assigned_id %></td>
          <td><%= flow.assigned_user_id %></td>
          <td><%= flow.start_date %></td>
          <td><%= flow.end_date %></td>


        
        </tr>
      <% end %>
    </tbody>
  </table>

</body>
</html>
