<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Business Partner</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<div class="page-container">
  <h1><center>Edit Business Partner</center></h1>

  <%= render 'form' %>
</div>

</body>
</html>


