<h1>Edit Business Partner</h1>

<%= render 'form' %>

<%= link_to 'Show', vendor_master_business_partner_path(@vendor_master, @business_partner) %> |
<%= link_to 'Back', vendor_master_business_partners_path(@vendor_master) %>
