<!DOCTYPE html>
<html>
<head>
  <title>New Expense Notification</title>
</head>
<body>
  <h2>New Expense Created</h2>
  <p>Hello <%= @user.firstname %> you are requested to approve this expense after having a look at it</p>
  <p>A new expense has been created and assigned to you. Details:</p>
  <ul>
    <li>Expense ID: <%= @expense.application_number %></li>
    <li>Amount: <%= @expense.amount %></li>
  </ul>
  <p>Regards,</p>
  <p>SmartFlow Team</p>
</body>
</html>
