<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "SmartFlow", root_path, class: :"nav-link"%>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Users", users_path, class: :"nav-link"%>
        </li>
        <!-- app/views/layouts/_navigation.html.erb -->

<li class="nav-item">
  <%= link_to "Business Partners", vendor_master_business_partners_path(vendor_master_id: 1), class: "nav-link" %>
</li>


          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>